<div>
  <h5><%= post.title %></h5>
  <p><%= post.body %></p>
  <p>
    <%= link_to 'Destroy', [post.location, post],
                method: :delete,
                data: {confirm: 'Are you sure?'} %>
  </p>
</div>
