<a href="/#location-anchor" class="back-btn">

</a>

<section class="single-location">
  <header class="single-location__hero" style="background-image: url('<%= @location.photo_url %>'); ">

  </header>
  <div class="single-location__hero-inner">
    <h1 class="display-1"><%= @location.name %></h1>
  </div>
  <div class="single-location__hero-overlay"></div>
</section>

<section class="single-location">
  <div class="container">
    <div class="row">

      <div class="col-md-8">
        <div class="post-container">
          <%= render @location.posts %>
        </div>
      </div>

      <div class="col-md-4">
        <%= render 'posts/form' %>
      </div>

    </div>
  </div>
</section>


<div class="container">
  <div class="row">

  </div>

</div>
